@font-face {
  font-family: "Lubalin";
  src: url("/fonts/lubalin_regular.eot");
  src: url("/fonts/lubalin_regular.eot?#iefix") format("embedded-opentype"), 
       url("/fonts/lubalin_regular.woff") format("woff"), 
       url("/fonts/lubalin_regular.ttf") format("truetype"), 
       url("/fonts/lubalin_regular.svg#Lubalin") format("svg");
  font-weight: normal;
  font-style: normal
}

.reveal .slide-bref h3 {
  font-family: "Lubalin", Arial, sans-serif;
  text-shadow:none;
  font-weight:normal;
}


.reveal .sprite-container {
  margin-bottom:20px;
}
.reveal .sprite-container img {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJUlEQVQYV2M8e/bsfwY0YGxszIguxjgUFKI7GsTH5m4M3w1ChQDoUiUJ8LDK3QAAAABJRU5ErkJggg==') repeat white;
  border:none;
  display:block;
  margin:0 auto;
}

.reveal .sprite-fun.visible {
  display:none;
}
.reveal .sprite-fun.visible.current-fragment {
  display:block;
}
